<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-privacy-screen" version="0.0.1">

	<name>PrivacyBlurScreen</name>
	<description>Hides your app's contents in task manager by blurring its actual content.</description>
	<license>MIT</license>
    <keywords>privacy,blur,task-manager,sensitive,cordova,cordova-ios</keywords>
    <repo>https://github.com/qplix/cordova-plugin-privacy-screen.git</repo>
    <issue>https://github.com/qplix/cordova-plugin-privacy-screen/issues</issue>

	<platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="PrivacyBlurScreen">
        <param name="ios-package" value="PrivacyBlurScreen"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

		<source-file src="src/ios/AppDelegate+privacyblurscreen.h"/>
		<source-file src="src/ios/AppDelegate+privacyblurscreen.m"/>
	</platform>
</plugin>
